<h1 id="location">{{weather.place}}</h1>
<h1 id="temp">{{weather.temp}}</h1>
<h1 id="sum">{{weather.summary}}</h1>

<p>{{weather.hi}}</p>

<input id="place" type="text" placeholder="enter location" />
<button id="subButton">Send</button>